<div class="container">
        <div class="row-mt-5">
            <div class="col-md-7">
                <table class="table table-bordered table hover">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nombre Servicio</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                
                <tbody>
                        {{#if data}}
                            {{#each data }}
                                <tr>
                                    <th>{{id_servicio}}</th>
                                    <th>{{nombre_servicio}}</th>
                                    <th>
                                        <a href="/servicios/delete/{{id_servicio}}"  class="btn btn-danger"> Eliminar</a>
                                        <a href="/update/{{id_servicio}}"  class="btn btn-info"> Editar</a>
                                    </th>
                                </tr>
                            {{/each}}
                        {{/if}}
                </tbody>
                </table>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="col-md-5">
                        <form action="/servicios/add" method="post">
                            <div class="form-grup">
                                <input type="text" name="nombre_servicio" placeholder="Nombre Servicio" class="form-controll">
                            </div>
                            <button type="submit" class="btb btn-primary">Ingresar  Servicio</button>
                        </form>
                    </div>
                </div>  
            </div>
        </div>
    </div>
